/* The Modal (background) */
.smodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.smodal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.sclose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.sclose:hover,
.sclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.smodal-header {
    padding: 2px 16px;
    background-color: lightcoral;
    color: white;

}

.smodal-body {padding: 2px 16px;}

.smodal-footer {
    padding: 2px 16px;
    background-color: lightcoral;
    color: white;
}


.cust_line{
    border: 3px solid lightgrey;
    padding-top: 22px;
    padding-left: 18px;
    padding-bottom: 22px;

}
.cust-body{
    padding:15px;
}
.cust_details h2.title1{
    text-align: center;
    padding: 1em;
    background: #629aa9;
    border-bottom: 10px solid #4b7884;
    margin: 0;
	color: #fff;
    font-size: 1.6em;
}
.cust-body {
	padding: 0px 10px;
}


.buttonsubmit{
    background-color: #1d16ab;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
     margin-left: 68%;
    float: left;
    height: 43px;

}
.suppliertd{
    width:210px;
}
.suppliertr{
    margin-top: 20px;
}
.addbutton{
    background-color: #1d16ab;
    padding: 0px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    float: right;
    margin-top: -30px;

}
.purcadd{
    background-color: #1d16ab;
    padding: 0px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    float: right;
    margin-top: -30px;
    margin-right: 6px;
    color:white;

}
.purcaddbutton{
    background-color: #1d16ab;
    padding: 0px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    float: right;
    margin-top: -30px;
    margin-right: 65px;
}
.modalbutton{
    background-color: #1d16ab;
    padding: 0px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 50px;
/*    float: right;*/
    color: white;
}
.buttonreset{
     background-color: #e00f1b;

    padding: 10px 20px;
    margin-left: 9px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    height: 43px;

}
#dataTable> thead > tr > th:nth-child(6).sorting:after {
     display: none !important;
}
#dataTable> thead > tr > th:nth-child(6).sorting:before {
     display: none !important;
}
#dataTable> thead > tr > th:nth-child(6).sorting_asc:before{
     display: none !important;
}
#dataTable> thead > tr > th:nth-child(6).sorting_desc:before{
     display: none !important;
}

#dataTable> thead > tr > th:nth-child(6).sorting_desc:after{
     display: none !important;
}
#dataTable> thead > tr > th:nth-child(6).sorting_asc:after{
     display: none !important;
}

#dataTable> thead > tr > th:nth-child(9).sorting:after {
     display: none !important;
}
#dataTable> thead > tr > th:nth-child(9).sorting:before {
     display: none !important;
}
#dataTable> thead > tr > th:nth-child(9).sorting_asc:before{
     display: none !important;
}
#dataTable> thead > tr > th:nth-child(9).sorting_desc:before{
     display: none !important;
}

#dataTable> thead > tr > th:nth-child(9).sorting_desc:after{
     display: none !important;
}
#dataTable> thead > tr > th:nth-child(9).sorting_asc:after{
     display: none !important;
}

#dataTable > tbody{
    line-height: 2em;
}
#dataTable > thead{
     line-height: 2em;
}
#dataTable > thead > tr > th:nth-child(10).sorting:after {
     display: none !important;
}
#dataTable > thead > tr > th:nth-child(10).sorting:before {
     display: none !important;
}
#dataTable > thead > tr > th:nth-child(10).sorting_asc:before{
     display: none !important;
}


#dataTable > thead > tr > th:nth-child(10).sorting_desc:before{
     display: none !important;
}

#dataTable > thead > tr > th:nth-child(10).sorting_desc:after{
     display: none !important;
}
#dataTable > thead > tr > th:nth-child(10).sorting_asc:after{
     display: none !important;
}


.form-disp{
  display: inline-flex;
}
.search-icon{
  margin-top: 10px;
  margin-left: -40px;
}


#dataTable_wrapper > div:nth-child(1) > div:nth-child(2){
  display: none;
}
.printcash{
    background-color: #fff;
    color: green;
    border: green;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    width: 100%;

    height: 43px;
    /* margin-left: 53%; */

}
.printcash:hover{
    background-color: #3e8e41;
    color:white;
}
