/*
#popover210929{
    transform:none;
}
*/
.k{
    margin-left: 464px;
    background-color: white;
    border:2px solid white;
    border-radius:5px;
    color:black;
    margin-top:-26px;
     

}

.k:hover{
    margin-left: 464px;
    background-color:darkblue;
    border-radius:2px solid white;
   
    color:white;
   margin-top:-26px;
  
}

.alignmar{
    margin-top:-26px;
    margin-left: 281px;
    
}
.ason{
    margin-left: 211px;

}
.between{
    margin-left: 15px;
}
.g{
border:2px solid white;
    border-radius:5px;
    padding-left: 10px;
   
    
/*    font-size:34px;*/
/*    margin-top:-2px;*/
/*    height: 10px;*/
}
/*
.icon{
    margin-left: 30px;
}
*/
/*
.fa-calendar:before{
    margin-left:20px;
}
*/


/*
#depa{
    width:49%;
    text-align: center;
    margin-left: 210px;
   
   
    
}
#depaa{
    width:49%;
    text-align: center;
    margin-left: 210px;
    
}
#depaaa{
    width:49%;
    text-align: center;
    margin-left: 203px;
    
      
    
}
#depaaaa{
    width:49%;
    text-align: center;
    margin-left: 203px;
    
 
    
}
*/
/*
.p{
    margin-left: 234px;
     
}
*/
/*
#deti{
    width:90%;
    text-align: center; 
     
}
#detii{
    width:86%;
    text-align: center;
    
}
#detiii{
    width:85%;
    text-align: center;
   
}
#detiiii{
    width:86%;
    text-align: center; 
    
}
*/
/*
#departing{
    width:34%;
    text-align: center;
}
#returning{
    width:34%;
    text-align: center;
}
*/
/*
#departt{
    width:34%;
    text-align: center;
}
#returnn{
    width:34%;
    text-align: center;
}
*/
/*
#departingg{
    width:34%;
    text-align: center;
}
#returningg{
    width:34%;
    text-align: center;
}
#depart{
    width:34%;
    text-align: center;
    
}
#return{
    width:34%;
    text-align: center;
}
*/
/*
.i{
    margin-left:294px;
    margin-top:-20px;
}
*/
